:root{
    --textColor :#414245;
    --pink :#F33E5C;
    --lightPink :#EF6E84;
    --yellow :#FFFAD7;
    --white :#FFFFFF;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
body{
    font-family: "Zen Old Mincho", serif;
    color: var(--textColor);
    letter-spacing: 0.2em;
    font-size: 16px;
    line-height: 1.3;
}

img{
    max-width: 100%;
}

//共通スタイル
.sp-only{
    display: none;

}
.textYellow{
    color: var(--yellow);
}
.textPink{
    color: var(--pink);
}
.enTtl{
    text-align: center;
}
.ttlDot{
    text-align: center;
    margin: 10px 0;
}
.makerTxt{
    background: linear-gradient(transparent 60%, var(--yellow) 60%);
}
h2{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
}

//FV
.fv-wrap{
    background: url(../images/fvBg.png) no-repeat center center / cover;

}
.fv{
    padding: 16px 0 200px;
    max-width: 850px;
    margin: auto;
    height: 550px;

    .content-wrap{
        margin: 0 auto;
        position: relative;
        z-index: 1;
        height: 550px;
        

        &::before{
            content: '';
            background: url(../images/fv-bgImg.png) no-repeat center center / contain;
            height: 400px;
            position: absolute;
            z-index: -1;
            bottom: -13%;
            left: 0%;
            z-index: -1;
            overflow: hidden;
            width: clamp(360px, 12vw, 400px);
            object-position: right center;
        }
    }

    .catchArea{
        position: absolute;
        top: 20px;
        left: 100px;

        .dental-name{
            color: var(--pink);
            margin-bottom: 15px;
            
            p{
                font-size: 40px;
                margin-bottom: 5px;
            }
            span{
                letter-spacing: normal;
                font-weight: 600;
            }
            
        }
    
        .catchCopy{
            background-color: var(--textColor);
            color: var(--white);
            font-size: 22px;
            padding: 5px 10px 8px;
            display: inline-block;
            margin-bottom: 8px; 
    
            p{
                position: relative;
                padding-left: 25px;
    
                &::before{
                    content: '';
                    background: url(../images/checkBox.png) no-repeat center center / contain;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
        }
    }

    .siteLogo{
        position: absolute;
        top: 0;
        left: 434px;
        width: 100px;
        height: 115px;
        
    }

    .mainVisual{
        position: relative;
        z-index: -1;

        img {
            position: absolute;
            object-position: right center;
            left: clamp(2%, 16vw, -76%);
            width: 680px;
            height: 550px;
            object-fit: cover;
            object-position: 50px;
        }
    }   

    .pageTtlArea{
        position: absolute;
        bottom: -125px;
        left: 120px;
        
        .inner{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1{
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            color: var(--pink);
            letter-spacing: 0;
            position: relative;
            margin-bottom: 15px;

            &::before{
                content: '';
                background: url(../images/painless.svg) no-repeat center center / contain;
                width: 123px;
                height: 51px;
                position: absolute;
                bottom: -11px;
                right: -28px;
            }
        }

        p{
            font-size: 36px;
            color: var(--yellow);
            background-color: var(--pink);
            padding: 3px 10px 10px;
            display: inline-block;
        }
    }
}

//feature
section.feature{
    background: url(../images/feature-pcBg.png) no-repeat center center / cover;

    .bgInner{
        max-width: 760px;
        margin: 0 auto;
        background: url(../images/feature-bg.png) no-repeat top center / cover;
        background-size: 100% 700px;
        padding: 64px 0 217px;
    }
    .content-wrap{
        padding: 0 24px;
        max-width: 400px;
        margin: 0 auto;
    }

    h2{
        color: var(--white);
        line-height: 2;

        .bgWhite{
            background-color: var(--white);
            color: var(--pink);
            padding: 5px 10px 10px;
            font-weight: 600;
        }
    }

    .txtBase{
        color: var(--white);
        text-align: center;
        line-height: 1.8;
        margin-top: 30px;

        p{
            margin-bottom: 1.5em;
        }
    }

    .featureItem-wrap{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

        .featureItem{
            width: 30%;

            .icon{
                text-align: center;
                margin-bottom: 10px;
            }
            p{
                text-align: center;
                font-family: "Noto Sans JP", serif;
                font-size: 13px;
                font-weight: 500;

            }
        }
        

    }
}

//cta
.c-ctaArea{
    .content-wrap{
        position: relative;
        max-width: 744px;
        margin: 0 auto;
        //仮padding
        padding-top: 600px;


        .mainVisual{
            position: absolute;
            top: 20px;
            left: 0;
            img{
                width: 564px;
                height: 564px;
                object-position: right center;
                object-fit: cover;
            }
        }
        .headingTxt{
            position: absolute;
            top: -30px;
            right: 165px;
            z-index: 5;
        }
    }
}
.cta-price{
    background-color: var(--white);
    box-shadow: 5px 5px 20px 0 #E5C3CD;
    padding: 43px 22px;
    max-width: 352px;

    .ttl{
        font-size: 22px;
        text-align: center;
        color: var(--lightPink);
        letter-spacing: 0;
        font-weight: 600;
        margin-bottom: 20px;

    }
    .priceTable{
        width: 296px;
        margin: 0 auto 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.cta-btn{
    max-width: 350px;

    .ttl{
        color: var(--pink);
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        position: relative;

        &::before{
            content: '';
            background: url(../images/star.png) no-repeat center center / contain;
            width: 20px;
            height: 20px;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
        }
        &::after{
            content: '';
            background: url(../images/star.png) no-repeat center center / contain;
            width: 20px;
            height: 20px;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }
    }
}



@media (max-width: 768px) {
    .pc-only{
        display: none;
    }
    .sp-only{
        display: block;
    }

    
}