:root {
  --textColor:#414245;
  --pink:#F33E5C;
  --lightPink:#EF6E84;
  --yellow:#FFFAD7;
  --white:#FFFFFF;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "Zen Old Mincho", serif;
  color: var(--textColor);
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.3;
  background: url(../images/bgGray-noise.png) no-repeat center center/cover;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

.h-filter {
  transition: 0.3s all;
}
.h-filter:hover {
  filter: opacity(0.5);
}

.textYellow {
  color: var(--yellow);
}

.textPink {
  color: var(--pink);
}

.enTtl {
  text-align: center;
}

.ttlDot {
  text-align: center;
  margin: 10px 0;
}

.makerTxt {
  background: linear-gradient(transparent 60%, var(--yellow) 60%);
}

h2 {
  font-size: 22px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.ctaBtn {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  display: flex;
  width: 400px;
  height: 80px;
}
.ctaBtn a {
  display: block;
}
.ctaBtn .campaignBnr {
  background-color: var(--yellow);
  position: relative;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ctaBtn .campaignBnr .siteName {
  text-align: center;
  position: absolute;
  top: -7px;
  left: 0;
  right: 0;
}
.ctaBtn .campaignBnr .bnrTxt {
  color: var(--pink);
  letter-spacing: normal;
  font-weight: 600;
  margin-left: 40px;
}
.ctaBtn .campaignBnr::before {
  content: "";
  background: url(../images/cta-hand.png) no-repeat center center/contain;
  width: 56px;
  height: 112px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ctaBtn .campaignBnr::after {
  content: "";
  background: url(../images/cta-arw.png) no-repeat center center/contain;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ctaBtn .webBtn, .ctaBtn .telBtn {
  width: 80px;
}

.fv-wrap {
  background: url(../images/fvBg.png) no-repeat center center/cover;
}

.fv {
  padding: 16px 0 200px 320px;
  max-width: 850px;
  margin: auto;
  height: 550px;
}
.fv .content-wrap {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: 550px;
}
.fv .content-wrap::before {
  content: "";
  background: url(../images/fv-bgImg.png) no-repeat center center/contain;
  height: 400px;
  position: absolute;
  z-index: -1;
  bottom: -13%;
  left: 0%;
  z-index: -1;
  overflow: hidden;
  width: clamp(360px, 12vw, 400px);
  -o-object-position: right center;
     object-position: right center;
}
.fv .catchArea {
  position: absolute;
  top: 9px;
  left: 100px;
}
.fv .catchArea .dental-name {
  color: var(--pink);
  margin-bottom: 15px;
}
.fv .catchArea .dental-name p {
  font-size: 40px;
}
.fv .catchArea .dental-name span {
  letter-spacing: normal;
  font-weight: 600;
}
.fv .catchArea .catchCopy {
  background-color: var(--textColor);
  color: var(--white);
  font-size: 22px;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 8px;
}
.fv .catchArea .catchCopy p {
  position: relative;
  padding-left: 25px;
  letter-spacing: normal;
}
.fv .catchArea .catchCopy p::before {
  content: "";
  background: url(../images/checkBox.png) no-repeat center center/contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.fv .siteLogo {
  position: absolute;
  top: 0;
  left: 434px;
  width: 100px;
  height: 115px;
}
.fv .mainVisual {
  position: relative;
  z-index: -1;
}
.fv .mainVisual img {
  position: absolute;
  -o-object-position: right center;
     object-position: right center;
  left: clamp(2%, 16vw, -76%);
  width: 680px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50px;
     object-position: 50px;
}
.fv .pageTtlArea {
  position: absolute;
  bottom: -125px;
  left: 120px;
}
.fv .pageTtlArea .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fv .pageTtlArea h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--pink);
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
  line-height: 1em;
}
.fv .pageTtlArea h1::before {
  content: "";
  background: url(../images/painless.svg) no-repeat center center/contain;
  width: 123px;
  height: 51px;
  position: absolute;
  bottom: -11px;
  right: -28px;
}
.fv .pageTtlArea p {
  font-size: 36px;
  color: var(--yellow);
  background-color: var(--pink);
  padding: 3px 10px 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .fv {
    padding: 16px 0 200px 0;
    overflow-x: hidden;
  }
  .fv .catchArea {
    left: 0;
  }
  .fv .siteLogo {
    left: auto;
    right: 24px;
  }
  .fv .pageTtlArea {
    left: 0;
    right: 0;
    margin: auto;
  }
  .fv .mainVisual img {
    left: 0;
    -o-object-position: 20px;
       object-position: 20px;
  }
}
@media (max-width: 400px) {
  .ctaBtn {
    width: 100%;
  }
  .ctaBtn .campaignBnr {
    width: calc(100% - 160px);
  }
  .ctaBtn .campaignBnr .bnrTxt {
    position: relative;
    z-index: 2;
  }
}
section.feature {
  background: url(../images/feature-pcBg.png) no-repeat center center/cover;
  letter-spacing: normal;
}
section.feature .bgInner {
  max-width: 760px;
  margin: 0 auto;
  background: url(../images/feature-bg.png) no-repeat top center/cover;
  background-size: 100% 700px;
  padding: 64px 0 217px;
}
section.feature .content-wrap {
  padding: 0 24px;
  max-width: 400px;
  margin: 0 auto;
}
section.feature h2 {
  color: var(--white);
  line-height: 2;
}
section.feature h2 .bgWhite {
  background-color: var(--white);
  color: var(--pink);
  padding: 3px 10px 5px;
  font-weight: 600;
}
section.feature .txtBase {
  color: var(--white);
  text-align: center;
  line-height: 1.8;
  margin-top: 30px;
}
section.feature .txtBase p {
  margin-bottom: 1.5em;
}
section.feature .featureItem-wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
section.feature .featureItem-wrap .featureItem {
  width: 30%;
}
section.feature .featureItem-wrap .featureItem .icon {
  text-align: center;
  margin-bottom: 10px;
}
section.feature .featureItem-wrap .featureItem p {
  text-align: center;
  font-family: "Noto Sans JP", serif;
  font-size: 13px;
  font-weight: 500;
}

.c-ctaArea {
  position: relative;
  height: 1280px;
}
.c-ctaArea.bg-white {
  background: #F8F8F9;
}
.c-ctaArea .content-inner {
  max-width: 744px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -10%;
}
.c-ctaArea .headingTxt {
  position: absolute;
  top: 0;
  right: 165px;
  z-index: 5;
}
.c-ctaArea .content-wrap {
  position: relative;
  background: url(../images/redLip01.png) no-repeat;
  background-size: 614px 263px;
  background-position: 90% 0;
  padding-top: 600px;
}
.c-ctaArea .content-wrap .mainVisual {
  position: absolute;
  top: 60px;
  left: 0;
}
.c-ctaArea .content-wrap .mainVisual img {
  width: 564px;
  height: 564px;
  -o-object-position: right center;
     object-position: right center;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta-mainContent {
  width: 352px;
  margin: 0 auto;
  transform: translate(10%, -15%);
  position: relative;
}
.cta-mainContent::before {
  content: "";
  background: url(../images/redLip02.png) no-repeat center center/contain;
  width: 282px;
  height: 137px;
  position: absolute;
  top: -12%;
  right: -26%;
  z-index: 5;
}

.cta-price {
  background-color: var(--white);
  box-shadow: 5px 5px 20px 0 #E5C3CD;
  padding: 43px 22px;
  max-width: 352px;
}
.cta-price .ttl {
  font-size: 22px;
  text-align: center;
  color: var(--lightPink);
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 20px;
}
.cta-price .priceTable {
  width: 296px;
  margin: 0 auto 10px;
}
.cta-price .priceTable:last-child {
  margin-bottom: 0;
}

.cta-btn {
  max-width: 350px;
  margin-top: 40px;
}
.cta-btn .ttl {
  color: var(--pink);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.cta-btn .ttl::before {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .ttl::after {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .webBtn, .cta-btn .telBtn {
  width: 350px;
  padding: 17px 0;
  text-align: center;
  border-radius: 30px;
  display: block;
}
.cta-btn .webBtn {
  background-color: var(--pink);
  color: var(--white);
  font-size: 22px;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 0.2em;
}
.cta-btn .webBtn::before {
  content: "";
  background: url(../images/btnArw.png) no-repeat center center/contain;
  width: 13px;
  height: 13px;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  position: absolute;
}
.cta-btn .webBtn p {
  position: relative;
  padding-left: 25px;
  display: inline-block;
}
.cta-btn .webBtn p::before {
  content: "";
  background: url(../images/cld-icon.png) no-repeat center center/contain;
  width: 16px;
  height: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .telBtn-wrap p:first-child {
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 6px;
}
.cta-btn .telBtn-wrap .telBtn {
  display: block;
  background: linear-gradient(to left, #9FA3AA 0%, #72757C 100%);
  border-radius: 40px;
  padding: 2px;
}
.cta-btn .telBtn-wrap .telBtn .inner {
  background: #F8F8F9;
  border-radius: 38px;
  padding: 7px 0;
}
.cta-btn .telBtn-wrap .telBtn p {
  display: inline-block;
  color: var(--textColor);
}
.cta-btn .telBtn-wrap .telBtn p:first-child {
  font-size: 24px;
  font-weight: 500;
  padding-left: 25px;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.cta-btn .telBtn-wrap .telBtn p:first-child::before {
  content: "";
  background: url(../images/tel-icon.png) no-repeat center center/contain;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .telBtn-wrap .telBtn p:last-child {
  font-size: 13px;
  letter-spacing: 0;
}

@media (max-width: 768px) {
  .c-ctaArea {
    height: 1300px;
  }
  .c-ctaArea .content-inner {
    overflow-x: hidden;
  }
  .c-ctaArea .content-wrap {
    padding-top: 500px;
    background-position: center top;
  }
  .c-ctaArea .content-wrap .mainVisual {
    top: 80px;
    left: auto;
    right: 30px;
  }
  .c-ctaArea .headingTxt {
    right: 0;
  }
  .cta-mainContent {
    transform: none;
  }
}
section.trouble {
  height: 459px;
  background: url(../images/trouble-bg.png) no-repeat top center/cover;
  padding-top: 64px;
  color: var(--white);
}
section.trouble .enTtl {
  margin-bottom: 15px;
}
section.trouble h2 {
  margin-bottom: 30px;
}
section.trouble h2 .font16 {
  font-size: 16px;
}
section.trouble h2 .textYellow {
  font-size: 28px;
}
section.trouble .content-wrap {
  max-width: 400px;
  padding: 0 16px;
  margin: 0 auto;
}
section.trouble ul {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px 32px;
}
section.trouble ul li {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px dashed #fff;
  padding-left: 24px;
  position: relative;
}
section.trouble ul li::before {
  content: "";
  background: url(../images/checkBox.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  position: absolute;
}
section.trouble ul li .textYellow {
  background: linear-gradient(transparent 60%, #414245 60%);
}

section.merit {
  padding: 64px 0;
  overflow-x: hidden;
}
section.merit h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 600;
}
section.merit h2 p {
  font-size: 22px;
  line-height: 1.2em;
}
section.merit h2 .font-40 {
  font-size: 40px;
}
section.merit .headingTxt-area {
  background: url(../images/bg-merit.png) no-repeat top center/cover;
  margin-top: 40px;
  padding: 30px 0 20px;
  color: var(--white);
  text-align: center;
  font-size: 32px;
}

.meritItem-wrap {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 40px;
}
.meritItem-wrap .meritContainer-1 .meritItem {
  width: 580px;
  height: 486px;
  position: relative;
  margin-bottom: 40px;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) {
  margin-right: auto;
  background: url(../images/meritImg01@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: left top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) .txtBox-wrap {
  bottom: 0;
  right: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) .txtBox::before {
  content: "";
  background: url(../images/pinkLip01.png) no-repeat center center/contain;
  width: 170px;
  height: 109px;
  top: -40px;
  left: -140px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) {
  margin-left: auto;
  background: url(../images/meritImg02@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: right top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) .txtBox-wrap {
  bottom: 0;
  left: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) .txtBox::before {
  content: "";
  background: url(../images/pinkLip02.png) no-repeat center center/contain;
  width: 194px;
  height: 110px;
  top: -46px;
  right: -80px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) {
  margin-right: auto;
  background: url(../images/meritImg03@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: left top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) .txtBox-wrap {
  bottom: 0;
  right: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) .txtBox::before {
  content: "";
  background: url(../images/pinkLip03.png) no-repeat center center/contain;
  width: 157px;
  height: 100px;
  top: -48px;
  left: -125px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap {
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox {
  width: 360px;
  background-color: rgba(239, 110, 131, 0.8274509804);
  color: var(--white);
  padding: 30px;
  position: relative;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .ttl {
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: normal;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .ttl .font16 {
  font-size: 16px;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .deatil {
  font-family: "Noto Sans JP", serif;
  line-height: 1.8;
}
.meritItem-wrap .meritContainer-2 {
  background: url(../images/about-woman.png) no-repeat;
  margin-top: 96px;
  background-size: 760px 412px;
  background-position: top center;
  padding-top: 252px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem {
  background-color: var(--lightPink);
  color: var(--white);
  text-align: center;
  padding: 20px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .ttl {
  font-size: 18px;
  letter-spacing: 0;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .ttl .textYellow {
  font-size: 24px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .img-area {
  margin: 20px 0;
}

@media (max-width: 580px) {
  .meritItem-wrap .meritContainer-1 .meritItem {
    width: 100%;
  }
  .meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1), .meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) {
    background-position: right -20% top 0%;
  }
  .meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) .txtBox-wrap, .meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) .txtBox-wrap {
    bottom: 0;
    right: 0;
  }
  .meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) {
    background-position: left -20% top 0%;
  }
  .meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap {
    width: 90%;
  }
  .meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
}
section.case {
  padding: 64px 0;
  background: url(../images/caseBg.png) no-repeat center center/cover;
}
section.case .content-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}
section.case h2 {
  font-size: 32px;
  color: var(--white);
}
section.case h2 .font22 {
  font-size: 22px;
}
section.case h2 .textYellow {
  font-size: 40px;
}
section.case .caution {
  border: 2px solid var(--white);
  padding: 15px 22px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  font-family: "Noto Sans JP", serif;
}
section.case .caution .imgArea {
  width: 50px;
}
section.case .caution .txtArea {
  width: calc(100% - 80px);
}

.caseBlock {
  background-color: var(--white);
  box-shadow: 5px 5px 20px 0 rgba(66, 69, 74, 0.2666666667);
  padding: 16px;
  margin-top: 40px;
}
.caseBlock .selectImg img {
  display: none;
}
.caseBlock .selectImg img.active {
  display: block;
}
.caseBlock .selectBox {
  display: flex;
  gap: 3px;
  margin-top: 10px;
}
.caseBlock .selectBox .selectItem {
  cursor: pointer;
}
.caseBlock .selectBox .selectItem img {
  width: 100%;
  height: 100%;
}
.caseBlock .selectBox .selectItem.active {
  border: 2px solid var(--textColor);
}
.caseBlock .headingTxt {
  font-size: 18px;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin: 20px 0;
}
.caseBlock .headingTxt::before {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.caseBlock .headingTxt::after {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.caseBlock .detailTable {
  border: 3px solid var(--textColor);
}
.caseBlock .detailTable tr:not(:last-child) {
  border-bottom: 1px dashed var(--textColor);
}
.caseBlock .detailTable th, .caseBlock .detailTable td {
  padding: 10px;
}
.caseBlock .detailTable th {
  border-right: 1px solid var(--textColor);
  width: 78px;
}

section.artist {
  background: url(../images/feature-pcBg.png) no-repeat center center/cover;
  padding-bottom: 250px;
}
section.artist .bgInner {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 64px;
  background: url(../images/artist-bg.png) no-repeat top center/contain;
  background-size: 100% 700px;
}
section.artist .content-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 24px;
}
section.artist h2 {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 10px;
}

.artistBlock {
  margin-top: 60px;
}
.artistBlock .artistItem {
  display: flex;
  margin-bottom: 8px;
  position: relative;
}
.artistBlock .artistItem::before {
  content: "";
  width: 64px;
  height: 30px;
  top: -5px;
  left: -16px;
  position: absolute;
}
.artistBlock .artistItem:nth-of-type(1)::before {
  background: url(../images/artist1.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(2)::before {
  background: url(../images/artist2.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(3)::before {
  background: url(../images/artist3.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(4)::before {
  background: url(../images/artist4.svg) no-repeat center center/contain;
}
.artistBlock .artistItem .img-area {
  width: 140px;
}
.artistBlock .artistItem .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.artistBlock .artistItem .txt-area {
  width: calc(100% - 140px);
  background-color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.artistBlock .artistItem .txt-area p {
  letter-spacing: 0;
}
.artistBlock .artistItem .txt-area .license {
  background-image: linear-gradient(to right, #9FA3AA 0%, #72757C 100%);
  padding: 5px 10px;
  margin-bottom: 5px;
  color: var(--white);
  font-size: 14px;
}
.artistBlock .artistItem .txt-area .price {
  color: #73767C;
  font-size: 13px;
}

section.about .ttlArea {
  background: url(../images/aboutTtl-bg.png) no-repeat center center/cover;
  height: 293px;
  position: relative;
}
section.about .ttlArea::before {
  content: "";
  background: url(../images/pen.png) no-repeat center center/cover;
  width: 226px;
  height: 139px;
  position: absolute;
  bottom: -12%;
  right: 36%;
}
section.about .ttlArea .ttlWrap {
  transform: translateY(-10%);
}
section.about h2 {
  color: var(--white);
  font-size: 30px;
  line-height: 1.2;
}
section.about h2 span {
  font-size: 36px;
}
section.about h2 p {
  font-size: 22px;
  margin-bottom: 5px;
}
section.about .subTtl, section.about h3 {
  text-align: center;
}
section.about .subTtl {
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 600;
}
section.about .subTtl span {
  position: relative;
  padding: 0 30px;
}
section.about h3 {
  font-size: 20px;
  margin-bottom: 40px;
}
section.about h3 .bg-txt {
  display: inline-block;
  font-size: 26px;
  color: var(--white);
  font-weight: 500;
}
section.about h3 .bg-pinkTxt {
  background-color: var(--lightPink);
  padding: 5px 10px 10px;
  margin: 5px;
}
section.about .txtBase {
  line-height: 1.8;
}
section.about .content-wrap {
  max-width: 368px;
  margin: 0 auto;
  padding: 0 16px;
}
section.about .content01-wrap {
  max-width: 760px;
  margin: 0 auto;
  padding: 64px 0;
}
section.about .content01-wrap .subTtl span::before {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
section.about .content01-wrap .subTtl span::after {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
section.about .content01-wrap .headingContent-wrap {
  position: relative;
}
section.about .content01-wrap .headingContent-wrap::before {
  content: "";
  background: url(../images/01.svg) no-repeat center center/contain;
  width: 125px;
  height: 106px;
  top: -20px;
  left: -40px;
  position: absolute;
}
section.about .content01-wrap .pic-container {
  background-color: var(--white);
  border: 2px solid #FAE9EE;
  padding: 22px 22px 22px 14px;
  border-radius: 10px;
  margin-bottom: 40px;
}
section.about .content01-wrap .pic-container .txt-area {
  display: flex;
  gap: 16px;
  font-family: "Noto Sans JP", serif;
  text-align: center;
  line-height: 1.2;
  margin: 8px 0 0;
}
section.about .content01-wrap .pic-container .txt-area .after {
  color: var(--lightPink);
}
section.about .content01-wrap .pointBlock {
  background: url(../images/about-woman02.png) no-repeat;
  background-size: 760px 412px;
  background-position: top center;
  margin-top: 40px;
  padding-top: 128px;
}
section.about .content01-wrap .pointBlock .ttl {
  text-align: center;
}
section.about .content01-wrap .pointBlock .catch {
  width: 266px;
  height: 248px;
  margin: 10px auto 30px;
  position: relative;
}
section.about .content01-wrap .pointBlock .catch div {
  width: 150px;
  height: 150px;
  background: url(../images/circleBg.png) no-repeat center center/contain;
  color: var(--white);
  font-size: 32px;
  font-weight: 600;
  position: absolute;
}
section.about .content01-wrap .pointBlock .catch div p {
  position: relative;
  display: inline-block;
}
section.about .content01-wrap .pointBlock .catch div p::before {
  content: "";
  background: url(../images/checkBox.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  top: -35px;
  right: 0;
  left: 0;
  margin: 10px auto 40px;
  position: absolute;
}
section.about .content01-wrap .pointBlock .catch div.point1 {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.about .content01-wrap .pointBlock .catch div.point2 {
  bottom: 0;
  left: 0;
}
section.about .content01-wrap .pointBlock .catch div.point2 p {
  transform: translate(10px, 73px);
}
section.about .content01-wrap .pointBlock .catch div.point3 {
  bottom: 0;
  right: 0;
}
section.about .content01-wrap .pointBlock .catch div.point3 p {
  transform: translate(50px, 73px);
}
section.about .content01-wrap .pointBlock .detail {
  background-color: var(--lightPink);
  color: var(--white);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 3px;
  position: relative;
}
section.about .content01-wrap .pointBlock .detail::before {
  content: "";
  background: url(../images/point.svg) no-repeat center center/contain;
  width: 75px;
  height: 38px;
  position: absolute;
  top: -17px;
  left: 10px;
}
section.about .content01-wrap .pointBlock .detail .inner {
  border: 2px solid var(--white);
  padding: 17px;
}
section.about .content02-wrap {
  background-color: var(--white);
  background-size: 100% 562px;
  background-position: top center;
  padding: 64px 0;
  position: relative;
  z-index: 2;
}
section.about .content02-wrap::before {
  content: "";
  background: url(../images/bg-license.png) no-repeat center center/cover;
  width: 100%;
  height: 562px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
section.about .content02-wrap .ttl-wrap {
  position: relative;
}
section.about .content02-wrap .ttl-wrap::before {
  content: "";
  background: url(../images/02.svg) no-repeat center center/contain;
  width: 158px;
  height: 110px;
  top: -20px;
  left: -50px;
  position: absolute;
}
section.about .content02-wrap h3 {
  color: var(--pink);
}
section.about .content02-wrap h3 .bg-pinkTxt {
  background-color: var(--pink);
}
section.about .content02-wrap .subTtl {
  color: var(--pink);
  position: relative;
}
section.about .content02-wrap .subTtl span::before {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
section.about .content02-wrap .subTtl span::after {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
section.about .content02-wrap .artistBlock {
  max-width: 760px;
  margin: 0 auto;
  background: url(../images/license-woman.png) no-repeat;
  background-size: 760px 412px;
  background-position: top center;
  padding-top: 248px;
}
section.about .content02-wrap .artistBlock .container {
  max-width: 580px;
  margin-left: auto;
}
section.about .content02-wrap .artistBlock .mainTxt div:first-child {
  margin-bottom: 10px;
}
section.about .content02-wrap .artistBlock .mainTxt p {
  display: inline-block;
  font-size: 20px;
  color: var(--white);
  background-color: var(--textColor);
  padding: 5px 10px;
  letter-spacing: normal;
}
section.about .content02-wrap .artistBlock .mainTxt p span {
  font-size: 30px;
}
section.about .content02-wrap .artistBlock .txtBase {
  max-width: 352px;
  margin: 30px 0 50px;
}
section.about .content02-wrap .artistBlock .txtBase p {
  margin-bottom: 0.5em;
  line-height: 1.8;
  letter-spacing: normal;
}
section.about .content02-wrap .artistBlock .pointBlock .pointItem {
  padding: 16px 24px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  background: linear-gradient(to right, #FFF5F8 0%, rgba(255, 245, 248, 0.7254901961) 70%, transparent 100%);
  margin-bottom: 16px;
  letter-spacing: normal;
  font-weight: 600;
}
section.about .content02-wrap .artistBlock .pointBlock .pointItem::before {
  content: "";
  background: url(../images/point01.svg) no-repeat center center/contain;
  width: 57px;
  height: 27px;
  position: absolute;
  top: -10px;
  left: -8px;
}
section.about .content02-wrap .artistBlock .pointBlock .pointItem:nth-of-type(1)::before {
  background: url(../images/point01.svg) no-repeat center center/contain;
}
section.about .content02-wrap .artistBlock .pointBlock .pointItem:nth-of-type(2)::before {
  background: url(../images/point2.svg) no-repeat center center/contain;
}
section.about .content02-wrap .artistBlock .pointBlock .pointItem:nth-of-type(3)::before {
  background: url(../images/point3.svg) no-repeat center center/contain;
}

.compareTable-wrap {
  background-color: var(--white);
  margin-top: 100px;
  position: relative;
  padding: 0 16px 22px;
  box-shadow: 5px 5px 20px 0 rgba(122, 134, 158, 0.2549019608);
}
.compareTable-wrap::before {
  content: "";
  background: url(../images/tableDeco.png) no-repeat center center/contain;
  width: 100%;
  height: 48px;
  top: -45px;
  left: 0;
  position: absolute;
}
.compareTable-wrap .ttl {
  margin-bottom: 20px;
}
.compareTable-wrap table {
  letter-spacing: normal;
  margin-bottom: 20px;
}
.compareTable-wrap table th, .compareTable-wrap table td {
  position: relative;
  text-align: center;
}
.compareTable-wrap table th .mark, .compareTable-wrap table td .mark {
  margin-bottom: 10px;
}
.compareTable-wrap table th .mainTxt, .compareTable-wrap table td .mainTxt {
  margin-bottom: 10px;
  font-weight: 600;
}
.compareTable-wrap table th .mainTxt p.main-detail, .compareTable-wrap table td .mainTxt p.main-detail {
  font-family: "Noto Sans JP", serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}
.compareTable-wrap table th .subTxt, .compareTable-wrap table td .subTxt {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.compareTable-wrap table td {
  width: 144px;
}
.compareTable-wrap table th {
  width: 1em;
  font-family: "Noto Sans JP", serif;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  font-weight: 500;
  background-color: #83838C;
  padding: 20px 5px;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
}
.compareTable-wrap table td.detail-after {
  border-right: 2px solid #FFE9F0;
  border-left: 2px solid #FFE9F0;
  padding: 16px 5px;
}
.compareTable-wrap table td.detail-after .mainTxt {
  color: var(--pink);
}
.compareTable-wrap table td.detail-after .subTxt {
  background-color: var(--lightPink);
  color: var(--yellow);
}
.compareTable-wrap table td.detail-before {
  background-color: #83838C;
  padding: 16px 5px;
}
.compareTable-wrap table td.detail-before .mainTxt {
  color: var(--white);
}
.compareTable-wrap table td.detail-before .subTxt {
  background-color: var(--white);
  color: var(--textColor);
  font-weight: 600;
}
.compareTable-wrap table tr {
  border-bottom: 2px solid #FFE9F0;
}
.compareTable-wrap table tr.headTab-wrap .tabPink {
  background-color: var(--pink);
  text-align: center;
  border-radius: 10px 10px 0 0;
  border: 1px solid #FFE9F0;
  color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78px;
  width: 98%;
  box-shadow: 8px 0px 12px -5px #777777;
}
.compareTable-wrap table tr.headTab-wrap td {
  font-size: 17px;
  color: var(--white);
}
.compareTable-wrap table tr.headTab-wrap th, .compareTable-wrap table tr.headTab-wrap td {
  background-color: transparent;
}
.compareTable-wrap table tr.headTab-wrap th .inner, .compareTable-wrap table tr.headTab-wrap td .inner {
  background-color: #83838C;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compareTable-wrap table tr.lastTab-wrap {
  border-bottom: none;
}
.compareTable-wrap table tr.lastTab-wrap th, .compareTable-wrap table tr.lastTab-wrap .detail-before {
  background-color: transparent;
  padding: 0;
}
.compareTable-wrap table tr.lastTab-wrap th .inner, .compareTable-wrap table tr.lastTab-wrap .detail-before .inner {
  background-color: #83838C;
  position: absolute;
  top: 0;
  padding: 16px 5px;
}
.compareTable-wrap table tr.lastTab-wrap .detail-after {
  padding-bottom: 34px;
  border-bottom: 2px solid #FFE9F0;
  box-shadow: 0px 12px 12px -5px #777777;
}
.compareTable-wrap table + .txtBase p {
  margin-bottom: 1em;
  line-height: 1.8;
  letter-spacing: normal;
}

@media (max-width: 768px) {
  section.about .ttlArea::before {
    background: url(../images/pen_sp.png) no-repeat center center/contain;
    right: 0;
    width: 175px;
    height: 139px;
  }
  section.about .content02-wrap .artistBlock .txtBase {
    margin: 30px 24px;
  }
  section.about .content02-wrap .pointBlock {
    margin-left: 24px;
  }
}
section.design {
  padding: 64px 0;
  background: url(../images/design-bg.png) no-repeat bottom center/cover;
}
section.design .content-wrap {
  max-width: 418px;
  margin: 0 auto;
}
section.design h2 {
  font-size: 32px;
}
section.design h2 span {
  font-size: 40px;
}
section.design .designBlock {
  margin-top: 60px;
}
section.design .designBlock .designItem {
  margin-bottom: 60px;
  position: relative;
}
section.design .designBlock .designItem:nth-of-type(1)::before {
  content: "";
  background: url(../images/designNum01.png) no-repeat center center/contain;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
section.design .designBlock .designItem:nth-of-type(2)::before {
  content: "";
  background: url(../images/designNum02.png) no-repeat center center/contain;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
section.design .designBlock .designItem:nth-of-type(3) {
  margin-bottom: 0px;
}
section.design .designBlock .designItem:nth-of-type(3)::before {
  content: "";
  background: url(../images/designNum03.png) no-repeat center center/contain;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: auto;
}
section.design .designBlock .designItem .img-area {
  width: 95%;
  display: block;
  margin-left: auto;
}
section.design .designBlock .designItem .txt-area {
  margin-top: -70px;
}
section.design .designBlock .designItem .designName {
  color: var(--white);
  font-size: 28px;
  background-color: var(--textColor);
  padding: 5px 30px 5px 10px;
  display: inline-block;
}
section.design .designBlock .designItem .detail-area {
  margin-top: 40px;
  padding: 0 20px 0 16px;
}
section.design .designBlock .designItem .detail-area p {
  line-height: 1.8;
}
section.design .designBlock .designItem .detail-area table {
  border: 2px solid var(--textColor);
  width: 100%;
  margin-top: 20px;
}
section.design .designBlock .designItem .detail-area table tr:not(:last-child) {
  border-bottom: 1px dashed var(--textColor);
}
section.design .designBlock .designItem .detail-area table th, section.design .designBlock .designItem .detail-area table td {
  padding: 10px;
  font-weight: 600;
  letter-spacing: normal;
}
section.design .designBlock .designItem .detail-area table th {
  width: 98px;
  border-right: 1px solid var(--textColor);
  align-content: center;
}
section.design .designBlock .designItem .detail-area .detailImg {
  margin-top: 24px;
}

section.downtime {
  background-color: #D5D9E4;
  padding: 64px 0;
}
section.downtime .content-wrap {
  max-width: 352px;
  padding: 0 24px;
  margin: 0 auto;
}
section.downtime h2 {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  margin-bottom: 24px;
}
section.downtime h2::before {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  margin: auto;
}
section.downtime h2::after {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  margin: auto;
}
section.downtime .downtimeBlock {
  background-color: var(--white);
  padding: 24px;
}
section.downtime .downtimeBlock .headingTxt {
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
section.downtime .downtimeBlock .headingTxt span {
  color: var(--lightPink);
}
section.downtime .downtimeBlock .downtimeItem {
  background-color: #EFEFF3;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}
section.downtime .downtimeBlock .downtimeItem .numArea {
  width: 30px;
}
section.downtime .downtimeBlock .downtimeItem .numArea p {
  letter-spacing: 1px;
  text-align: center;
}
section.downtime .downtimeBlock .downtimeItem .numArea p:first-child {
  font-size: 8px;
  margin-bottom: 3px;
}
section.downtime .downtimeBlock .downtimeItem .numArea .num {
  font-size: 13px;
  color: var(--white);
  background-color: var(--textColor);
  align-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
section.downtime .downtimeBlock .downtimeItem .txtArea {
  width: calc(100% - 46px);
  letter-spacing: normal;
}
section.downtime .downtimeBlock .downtimeItem .txtArea .ttl {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--lightPink);
}
section.downtime .downtimeBlock .downtimeItem .txtArea .detail {
  font-size: 14px;
}

@media (max-width: 768px) {
  section.downtime .content-wrap {
    max-width: auto;
  }
}
section.steps {
  padding: 64px 0 100px;
  background-color: var(--white);
  overflow-x: hidden;
}
section.steps h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
section.steps h2 span {
  font-size: 38px;
}
section.steps .slider-container {
  margin-left: auto;
  transform: translateX(20vw);
  width: 1598px;
}
section.steps .slider-container .slick-slider {
  margin: 0;
}
section.steps .slider-container .slick-list {
  padding: 0;
}
section.steps .slider-container .slick-track {
  display: flex;
}
section.steps .slider-container .slick-slide {
  height: auto !important;
  margin: 0 16px 20px;
}
section.steps .slider-container .slick-prev, section.steps .slider-container .slick-next {
  background: none !important;
  width: 40px;
  height: 40px;
  border-radius: 0;
  color: transparent;
  z-index: 1;
}
section.steps .slider-container .slick-prev {
  left: 0;
}
section.steps .slider-container .slick-prev:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/preArw.png") no-repeat center center/contain;
}
section.steps .slider-container .slick-next {
  left: 500px;
}
section.steps .slider-container .slick-next:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/nextArw.png") no-repeat center center/contain;
}
section.steps .slider-container .slick-dots {
  text-align: left;
  bottom: -20px;
  margin-left: 100px;
}
section.steps .slider-container .slick-dots li {
  margin: 0 0;
}
section.steps .slider-container .slick-dots li button:before {
  font-size: 20px;
  color: #ccc;
}
section.steps .slider-container .slick-dots li.slick-active button:before {
  color: #EF6E84;
}
section.steps .sliderItem-wrap {
  display: block !important;
}
section.steps .sliderItem {
  width: 320px;
  background-color: var(--white);
  position: relative;
  box-shadow: 5px 5px 20px 0px rgba(174, 174, 174, 0.3137254902);
  padding-bottom: 40px;
}
section.steps .sliderItem::before {
  content: "";
  background: url(../images/flowArw.png) no-repeat center center/contain;
  width: 24px;
  height: 11px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}
section.steps .sliderItem .txt-area {
  padding: 24px 24px 0;
  letter-spacing: 1px;
}
section.steps .sliderItem .txt-area .ttl-area {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--lightPink);
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--textColor);
}
section.steps .sliderItem .txt-area .ttl-area p:first-child {
  font-size: 24px;
}
section.steps .sliderItem .txt-area .ttl-area p:last-child {
  font-size: 18px;
}
section.steps .sliderItem .txt-area .txtBase {
  font-size: 15px;
  padding-top: 15px;
  line-height: 1.8;
}
section.steps .sliderItem .txt-area .txtBase p:not(:last-child) {
  margin-bottom: 0.8em;
}

@media (max-width: 768px) {
  section.steps .slider-container {
    transform: translateX(0px);
    width: auto;
  }
  section.steps .slider-container .slick-next {
    left: auto;
    right: 10px;
  }
  section.steps .slider-container .slick-prev {
    left: 10px;
  }
  section.steps .slider-container .slick-dots {
    margin-left: 0px;
    text-align: center;
  }
}
section.fee {
  padding: 64px 0;
  background: url(../images/fee-bg.png) no-repeat bottom center/cover;
}
section.fee .content-wrap {
  max-width: 352px;
  margin: 0 auto;
  padding: 0 24px;
}
section.fee h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
section.fee .headingTxt {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: normal;
}
section.fee .headingTxt p:first-child {
  margin-bottom: 0.5em;
}
section.fee .fee-table {
  border: 2px solid var(--textColor);
  margin-bottom: 20px;
  width: 100%;
}
section.fee .fee-table td {
  background-color: #FFF5F8;
  padding: 10px 5px;
  border-bottom: 1px dashed var(--textColor);
  letter-spacing: normal;
  text-align: right;
  align-content: center;
  width: 116px;
}
section.fee .fee-table .header-td {
  background-color: #414245;
  font-size: 18px;
  color: var(--white);
  padding: 5px 0 8px;
  text-align: center;
  border-bottom: none;
}
section.fee .fee-table .header-td .textYellow {
  font-size: 21px;
}
section.fee .fee-table .menu-td {
  border-right: 2px solid var(--textColor);
  text-align: left;
  width: calc(100% - 116px);
}

section.faq {
  padding: 64px 0 150px;
}
section.faq .content-wrap {
  max-width: 352px;
  margin: 0 auto;
  padding: 0 24px;
}
section.faq h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
section.faq h2 span {
  padding: 0 40px;
  position: relative;
}
section.faq h2 span::before {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
section.faq h2 span::after {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
section.faq .faqBlock {
  border: 2px solid #FFE9F0;
}
section.faq .faqBlock dl {
  margin-bottom: 24px;
}
section.faq .faqBlock dl dt, section.faq .faqBlock dl dd {
  position: relative;
  padding: 18px 14px;
  letter-spacing: normal;
  line-height: 1.5;
}
section.faq .faqBlock dl dt p, section.faq .faqBlock dl dd p {
  padding-left: 40px;
}
section.faq .faqBlock dl dt::before, section.faq .faqBlock dl dd::before {
  content: "";
  width: 30px;
  height: 30px;
  top: 18px;
  left: 14px;
  position: absolute;
}
section.faq .faqBlock dl dt {
  background-color: var(--lightPink);
  color: var(--white);
  font-size: 17px;
  border-bottom: 2px solid #FFE9F0;
}
section.faq .faqBlock dl dt::before {
  background: url(../images/q-icon.png) no-repeat center center/contain;
}
section.faq .faqBlock dl dd {
  background: var(--white);
}
section.faq .faqBlock dl dd::before {
  background: url(../images/a-icon.png) no-repeat center center/contain;
}
section.faq .faqBlock dl dd p:not(:last-child) {
  margin-bottom: 0.5em;
}

.c-ctaArea.bg-grad {
  background: url(../images/grad-bg.png) no-repeat bottom center/cover;
}
.c-ctaArea.bg-grad .cta-btn .ttl {
  color: var(--white);
}
.c-ctaArea.bg-grad .cta-btn .ttl::before {
  background: url(../images/star_white.png) no-repeat center center/contain;
}
.c-ctaArea.bg-grad .cta-btn .ttl::after {
  background: url(../images/star_white.png) no-repeat center center/contain;
}
.c-ctaArea.bg-grad .cta-btn .telBtn-wrap p:first-child {
  color: var(--white);
}
.c-ctaArea.bg-grad .cta-btn .telBtn-wrap .telBtn p {
  color: var(--textColor);
}

footer {
  background: linear-gradient(to left, #9FA3AA 0%, #72757C 100%);
  padding: 50px 0 158px;
}
footer .content-wrap {
  max-width: 364px;
  padding: 0 24px;
  margin: 0 auto;
}
footer nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
footer nav ul li {
  padding: 0 15px;
  border-right: 1px solid var(--white);
}
footer nav ul li:last-child {
  border-right: none;
}
footer nav ul li a {
  color: var(--white);
  letter-spacing: normal;
  font-size: 15px;
}
footer nav ul:last-child {
  margin-top: 40px;
  margin-bottom: 40px;
}
footer small {
  font-size: 13px;
  color: var(--white);
  text-align: center;
  font-family: "Noto Sans JP", serif;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */