:root {
  --textColor:#414245;
  --pink:#F33E5C;
  --lightPink:#EF6E84;
  --yellow:#FFFAD7;
  --white:#FFFFFF;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

body {
  font-family: "Zen Old Mincho", serif;
  color: var(--textColor);
  letter-spacing: 0.2em;
  font-size: 16px;
  line-height: 1.3;
  background: url(../images/bgGray-noise.png) no-repeat center center/cover;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

.textYellow {
  color: var(--yellow);
}

.textPink {
  color: var(--pink);
}

.enTtl {
  text-align: center;
}

.ttlDot {
  text-align: center;
  margin: 10px 0;
}

.makerTxt {
  background: linear-gradient(transparent 60%, var(--yellow) 60%);
}

h2 {
  font-size: 22px;
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
}

.fv-wrap {
  background: url(../images/fvBg.png) no-repeat center center/cover;
}

.fv {
  padding: 16px 0 200px;
  max-width: 850px;
  margin: auto;
  height: 550px;
}
.fv .content-wrap {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  height: 550px;
}
.fv .content-wrap::before {
  content: "";
  background: url(../images/fv-bgImg.png) no-repeat center center/contain;
  height: 400px;
  position: absolute;
  z-index: -1;
  bottom: -13%;
  left: 0%;
  z-index: -1;
  overflow: hidden;
  width: clamp(360px, 12vw, 400px);
  -o-object-position: right center;
     object-position: right center;
}
.fv .catchArea {
  position: absolute;
  top: 20px;
  left: 100px;
}
.fv .catchArea .dental-name {
  color: var(--pink);
  margin-bottom: 15px;
}
.fv .catchArea .dental-name p {
  font-size: 40px;
  margin-bottom: 5px;
}
.fv .catchArea .dental-name span {
  letter-spacing: normal;
  font-weight: 600;
}
.fv .catchArea .catchCopy {
  background-color: var(--textColor);
  color: var(--white);
  font-size: 22px;
  padding: 5px 10px 8px;
  display: inline-block;
  margin-bottom: 8px;
}
.fv .catchArea .catchCopy p {
  position: relative;
  padding-left: 25px;
}
.fv .catchArea .catchCopy p::before {
  content: "";
  background: url(../images/checkBox.png) no-repeat center center/contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.fv .siteLogo {
  position: absolute;
  top: 0;
  left: 434px;
  width: 100px;
  height: 115px;
}
.fv .mainVisual {
  position: relative;
  z-index: -1;
}
.fv .mainVisual img {
  position: absolute;
  -o-object-position: right center;
     object-position: right center;
  left: clamp(2%, 16vw, -76%);
  width: 680px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50px;
     object-position: 50px;
}
.fv .pageTtlArea {
  position: absolute;
  bottom: -125px;
  left: 120px;
}
.fv .pageTtlArea .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fv .pageTtlArea h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: var(--pink);
  letter-spacing: 0;
  position: relative;
  margin-bottom: 15px;
}
.fv .pageTtlArea h1::before {
  content: "";
  background: url(../images/painless.svg) no-repeat center center/contain;
  width: 123px;
  height: 51px;
  position: absolute;
  bottom: -11px;
  right: -28px;
}
.fv .pageTtlArea p {
  font-size: 36px;
  color: var(--yellow);
  background-color: var(--pink);
  padding: 3px 10px 10px;
  display: inline-block;
}

section.feature {
  background: url(../images/feature-pcBg.png) no-repeat center center/cover;
}
section.feature .bgInner {
  max-width: 760px;
  margin: 0 auto;
  background: url(../images/feature-bg.png) no-repeat top center/cover;
  background-size: 100% 700px;
  padding: 64px 0 217px;
}
section.feature .content-wrap {
  padding: 0 24px;
  max-width: 400px;
  margin: 0 auto;
}
section.feature h2 {
  color: var(--white);
  line-height: 2;
}
section.feature h2 .bgWhite {
  background-color: var(--white);
  color: var(--pink);
  padding: 5px 10px 10px;
  font-weight: 600;
}
section.feature .txtBase {
  color: var(--white);
  text-align: center;
  line-height: 1.8;
  margin-top: 30px;
}
section.feature .txtBase p {
  margin-bottom: 1.5em;
}
section.feature .featureItem-wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
section.feature .featureItem-wrap .featureItem {
  width: 30%;
}
section.feature .featureItem-wrap .featureItem .icon {
  text-align: center;
  margin-bottom: 10px;
}
section.feature .featureItem-wrap .featureItem p {
  text-align: center;
  font-family: "Noto Sans JP", serif;
  font-size: 13px;
  font-weight: 500;
}

.c-ctaArea.bg-white {
  background: #F8F8F9;
}
.c-ctaArea .content-wrap {
  position: relative;
  max-width: 744px;
  margin: 0 auto;
  padding-top: 600px;
}
.c-ctaArea .content-wrap::before {
  content: "";
  background: url(../images/redLip01.png) no-repeat center center/contain;
  width: 614px;
  height: 263px;
  position: absolute;
  top: -4%;
  right: 0;
}
.c-ctaArea .content-wrap .mainVisual {
  position: absolute;
  top: 20px;
  left: 0;
}
.c-ctaArea .content-wrap .mainVisual img {
  width: 564px;
  height: 564px;
  -o-object-position: right center;
     object-position: right center;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-ctaArea .content-wrap .headingTxt {
  position: absolute;
  top: -30px;
  right: 165px;
  z-index: 5;
}

.cta-mainContent {
  width: 352px;
  margin: 0 auto;
  transform: translate(10%, -15%);
  position: relative;
}
.cta-mainContent::before {
  content: "";
  background: url(../images/redLip02.png) no-repeat center center/contain;
  width: 282px;
  height: 137px;
  position: absolute;
  top: -12%;
  right: -26%;
  z-index: 5;
}

.cta-price {
  background-color: var(--white);
  box-shadow: 5px 5px 20px 0 #E5C3CD;
  padding: 43px 22px;
  max-width: 352px;
}
.cta-price .ttl {
  font-size: 22px;
  text-align: center;
  color: var(--lightPink);
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 20px;
}
.cta-price .priceTable {
  width: 296px;
  margin: 0 auto 10px;
}
.cta-price .priceTable:last-child {
  margin-bottom: 0;
}

.cta-btn {
  max-width: 350px;
  margin-top: 40px;
}
.cta-btn .ttl {
  color: var(--pink);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.cta-btn .ttl::before {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .ttl::after {
  content: "";
  background: url(../images/star.png) no-repeat center center/contain;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .webBtn, .cta-btn .telBtn {
  width: 350px;
  padding: 17px 0;
  text-align: center;
  border-radius: 30px;
  display: block;
}
.cta-btn .webBtn {
  background-color: var(--pink);
  color: var(--white);
  font-size: 22px;
  position: relative;
  margin-bottom: 15px;
}
.cta-btn .webBtn::before {
  content: "";
  background: url(../images/btnArw.png) no-repeat center center/contain;
  width: 13px;
  height: 13px;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  position: absolute;
}
.cta-btn .webBtn p {
  position: relative;
  padding-left: 25px;
  display: inline-block;
}
.cta-btn .webBtn p::before {
  content: "";
  background: url(../images/cld-icon.png) no-repeat center center/contain;
  width: 16px;
  height: 16px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .telBtn-wrap p:first-child {
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 6px;
}
.cta-btn .telBtn-wrap .telBtn {
  display: block;
  background: linear-gradient(to left, #9FA3AA 0%, #72757C 100%);
  border-radius: 40px;
  padding: 2px;
}
.cta-btn .telBtn-wrap .telBtn .inner {
  background: #F8F8F9;
  border-radius: 38px;
  padding: 7px 0;
}
.cta-btn .telBtn-wrap .telBtn p {
  display: inline-block;
  color: var(--textColor);
}
.cta-btn .telBtn-wrap .telBtn p:first-child {
  font-size: 24px;
  font-weight: 500;
  padding-left: 25px;
  position: relative;
  letter-spacing: 2px;
}
.cta-btn .telBtn-wrap .telBtn p:first-child::before {
  content: "";
  background: url(../images/tel-icon.png) no-repeat center center/contain;
  width: 18px;
  height: 18px;
  top: 9px;
  left: 0;
  margin: auto;
  position: absolute;
}
.cta-btn .telBtn-wrap .telBtn p:last-child {
  font-size: 13px;
  letter-spacing: 0;
}

section.trouble {
  height: 459px;
  background: url(../images/trouble-bg.png) no-repeat top center/cover;
  padding-top: 64px;
  color: var(--white);
}
section.trouble .enTtl {
  margin-bottom: 15px;
}
section.trouble h2 {
  margin-bottom: 30px;
}
section.trouble h2 .font16 {
  font-size: 16px;
}
section.trouble h2 .textYellow {
  font-size: 28px;
}
section.trouble .content-wrap {
  max-width: 400px;
  padding: 0 16px;
  margin: 0 auto;
}
section.trouble ul {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 25px 32px;
}
section.trouble ul li {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px dashed #fff;
  padding-left: 24px;
  position: relative;
}
section.trouble ul li::before {
  content: "";
  background: url(../images/checkBox.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  position: absolute;
}
section.trouble ul li .textYellow {
  background: linear-gradient(transparent 60%, #414245 60%);
}

section.merit {
  padding: 64px 0;
}
section.merit h2 {
  font-size: 32px;
  line-height: normal;
  font-weight: 600;
}
section.merit h2 p {
  font-size: 22px;
  line-height: 1.2em;
}
section.merit h2 .font-40 {
  font-size: 40px;
}
section.merit .headingTxt-area {
  background: url(../images/bg-merit.png) no-repeat top center/cover;
  margin-top: 40px;
  padding: 30px 0 20px;
  color: var(--white);
  text-align: center;
  font-size: 32px;
}

.meritItem-wrap {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 40px;
}
.meritItem-wrap .meritContainer-1 .meritItem {
  width: 580px;
  height: 486px;
  position: relative;
  margin-bottom: 40px;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) {
  margin-right: auto;
  background: url(../images/meritImg01@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: left top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) .txtBox-wrap {
  bottom: 0;
  right: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(1) .txtBox::before {
  content: "";
  background: url(../images/pinkLip01.png) no-repeat center center/contain;
  width: 170px;
  height: 109px;
  top: -40px;
  left: -140px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) {
  margin-left: auto;
  background: url(../images/meritImg02@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: right top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) .txtBox-wrap {
  bottom: 0;
  left: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(2) .txtBox::before {
  content: "";
  background: url(../images/pinkLip02.png) no-repeat center center/contain;
  width: 194px;
  height: 110px;
  top: -46px;
  right: -80px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) {
  margin-right: auto;
  background: url(../images/meritImg03@2x.png) no-repeat;
  background-size: 540px 360px;
  background-position: left top;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) .txtBox-wrap {
  bottom: 0;
  right: 0;
}
.meritItem-wrap .meritContainer-1 .meritItem:nth-of-type(3) .txtBox::before {
  content: "";
  background: url(../images/pinkLip03.png) no-repeat center center/contain;
  width: 157px;
  height: 100px;
  top: -48px;
  left: -125px;
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap {
  position: absolute;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox {
  width: 360px;
  background-color: rgba(239, 110, 131, 0.8274509804);
  color: var(--white);
  padding: 30px;
  position: relative;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .ttl {
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: normal;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .ttl .font16 {
  font-size: 16px;
}
.meritItem-wrap .meritContainer-1 .meritItem .txtBox-wrap .txtBox .deatil {
  font-family: "Noto Sans JP", serif;
  line-height: 2;
}
.meritItem-wrap .meritContainer-2 {
  background: url(../images/about-woman.png) no-repeat;
  margin-top: 96px;
  background-size: 760px 412px;
  background-position: top center;
  padding-top: 252px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem {
  background-color: var(--lightPink);
  color: var(--white);
  text-align: center;
  padding: 20px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .ttl {
  font-size: 18px;
  letter-spacing: 0;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .ttl .textYellow {
  font-size: 24px;
}
.meritItem-wrap .meritContainer-2 .meritItem-block .meritItem .img-area {
  margin: 20px 0;
}

section.case {
  padding: 64px 0;
  background: url(../images/caseBg.png) no-repeat center center/cover;
}
section.case .content-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 16px;
}
section.case h2 {
  font-size: 32px;
  color: var(--white);
}
section.case h2 .font22 {
  font-size: 22px;
}
section.case h2 .textYellow {
  font-size: 40px;
}
section.case .caution {
  border: 2px solid var(--white);
  padding: 15px 22px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  font-family: "Noto Sans JP", serif;
}
section.case .caution .imgArea {
  width: 50px;
}
section.case .caution .txtArea {
  width: calc(100% - 80px);
}

.caseBlock {
  background-color: var(--white);
  box-shadow: 5px 5px 20px 0 rgba(66, 69, 74, 0.2666666667);
  padding: 16px;
  margin-top: 40px;
}
.caseBlock .selectImg img {
  display: none;
}
.caseBlock .selectImg img.active {
  display: block;
}
.caseBlock .selectBox {
  display: flex;
  gap: 3px;
  margin-top: 10px;
}
.caseBlock .selectBox .selectItem {
  cursor: pointer;
}
.caseBlock .selectBox .selectItem img {
  width: 100%;
  height: 100%;
}
.caseBlock .selectBox .selectItem.active {
  border: 2px solid var(--textColor);
}
.caseBlock .headingTxt {
  font-size: 18px;
  text-align: center;
  position: relative;
  font-weight: bold;
  margin: 20px 0;
}
.caseBlock .headingTxt::before {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.caseBlock .headingTxt::after {
  content: "";
  background: url(../images/star_black.png) no-repeat center center/contain;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.caseBlock .detailTable {
  border: 3px solid var(--textColor);
}
.caseBlock .detailTable tr:not(:last-child) {
  border-bottom: 1px dashed var(--textColor);
}
.caseBlock .detailTable th, .caseBlock .detailTable td {
  padding: 10px;
}
.caseBlock .detailTable th {
  border-right: 1px solid var(--textColor);
  width: 78px;
}

section.artist {
  background: url(../images/feature-pcBg.png) no-repeat center center/cover;
  padding-bottom: 250px;
}
section.artist .bgInner {
  max-width: 760px;
  margin: 0 auto;
  padding-top: 64px;
  background: url(../images/artist-bg.png) no-repeat top center/contain;
  background-size: 100% 700px;
}
section.artist .content-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 24px;
}
section.artist h2 {
  color: var(--white);
  font-size: 18px;
  margin-bottom: 10px;
}

.artistBlock {
  margin-top: 60px;
}
.artistBlock .artistItem {
  display: flex;
  margin-bottom: 8px;
  position: relative;
}
.artistBlock .artistItem::before {
  content: "";
  width: 64px;
  height: 30px;
  top: -5px;
  left: -16px;
  position: absolute;
}
.artistBlock .artistItem:nth-of-type(1)::before {
  background: url(../images/artist1.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(2)::before {
  background: url(../images/artist2.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(3)::before {
  background: url(../images/artist3.svg) no-repeat center center/contain;
}
.artistBlock .artistItem:nth-of-type(4)::before {
  background: url(../images/artist4.svg) no-repeat center center/contain;
}
.artistBlock .artistItem .img-area {
  width: 140px;
}
.artistBlock .artistItem .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.artistBlock .artistItem .txt-area {
  width: calc(100% - 140px);
  background-color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.artistBlock .artistItem .txt-area p {
  letter-spacing: 0;
}
.artistBlock .artistItem .txt-area .license {
  background-image: linear-gradient(to right, #9FA3AA 0%, #72757C 100%);
  padding: 10px;
  margin-bottom: 5px;
  color: var(--white);
  font-size: 14px;
}
.artistBlock .artistItem .txt-area .price {
  color: #73767C;
  font-size: 13px;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */